<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
 
<footer class="footer">
 <div class="container">
  <ul class="social-icon animate pull-left">
   <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> 
   <li><a href="https://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
   <li><a href="https://vk.com" title="vk" target="_blank"><i class="fa fa-vk"></i></a></li>
   <li><a href="https://google.com" title="google" target="_blank"><i class="fa fa-google"></i></a></li>
  </ul>
  <center>© 2017 Blog, Andriy Savic </center>
 </div>
</footer>